{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <h2 class="text-center mb-4 fw-bold">
                Sistema de Vendas SEMEQ
            </h2>

            <div class="card shadow p-4">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Entrar</h3>
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input
                                type="email"
                                class="form-control"
                                id="email"
                                placeholder="nome@exemplo.com"
                                required
                            >
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                placeholder="Sua senha"
                                required
                            >
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" id="BtnLogin">
                                Acessar
                            </button>
                        </div>
                    </form>

                    <p class="text-center mt-4 mb-0 text-muted small">
                        by Guilherme Padilia
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'login/js/login_events.js' %}"></script>
{% endblock %}
